body{
    background-image: url("https://www.transparenttextures.com/patterns/green-cup.png");
    background-color: #00360e;

}

hr.hr-quiz-bar {
    border: 1px solid white;
    border-radius: 1px;
}